Repository mbox-contributors/mbox, pull requests merged in 2021-06, with the labels that each got.

#81 Basic CI Workflow in GitHub Actions
  .github/workflows/python-app.yml
  .vscode/settings.json
  cogs/event_listener.py
  pytest.ini
  requirements_dev.txt
  src/commander/element/PlayerEmbed.py
  test/element/test_context.py
  test/music/element/test_lyrics.py
  test/samples.py
  tests/__init__.py
  tests/integration/__init__.py
  tests/integration/conftest.py
  tests/integration/test_main.py
  tests/unit/__init__.py
  tests/unit/test_search.py
Labels: workflow

#82 Hotfix: Made config parser run regardless if config exists
  config.py
  src/music/player.py
Labels: bug, documentation

#86 AWS workflow
  .github/workflows/aws.yml
  Dockerfile
  task-definition.json
  webhook_messenger.py
Labels: workflow

#84 Crypto Auth classes and commands
  .gitignore
  cogs/event_listener.py
  requirements.txt
  src/auth.py
  src/command_handler.py
  src/element/MusicBoxContext.py
  src/parser.py
  tests/unit/test_auth.py
Labels: enhancement, workflow

#79 > 2048 chars worked with gaps
  src/commander/element/LyricsEmbed.py
  tests/unit/test_LyricsEmbed.py
Labels: enhancement

#127 Create a refactor template for GitHub Issue #110
  .github/ISSUE_TEMPLATE/refactor.md
  .github/ISSUE_TEMPLATE/workflow-enhancement.md
Labels: enhancement, workflow
